html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.page-header {
  color: #fff;
  text-align: center;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
  padding: 5rem 6rem;
}

.project-name {
  font-size: 3.25rem;
  margin-top: 0;
  margin-bottom: 0.1rem;
}

.main-content {
  max-width: 64rem;
  padding: 2rem 6rem 0 6rem;
  margin: 0 auto;
  font-size: 1.1rem;
  word-wrap: break-word;
}

.sub-heading {
  margin-bottom: 1rem;
  font-weight: normal;
  color: #159957;
  font-size: 26.4px;
}

.text-content {
  margin-left: 50px;
  color: rgb(96, 108, 113);
}

.footer-content {
  max-width: 64rem;
  padding: 2rem 6rem 0 6rem;
  padding-top: 2rem;
  margin-top: 2rem;
  margin: 0 auto;
  word-wrap: break-word;
  font-size: 1rem;
  /* border-top: solid 1px #eff0f1; */
}

.footer-content .content {
  color: #819198;
}
